/*
 * css - folha de estilo em cascata
 /*




/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do body */
body {
    padding-top: 70px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Estilo do header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Estilo do main */
main {
    margin: 20px;
}   
/* Estilo do footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
